<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
</head>
<body>
    <h2>Search results for {{artistName}}</h2>

    <ul>
        {{#each artists}}
        <li>
            <h3>{{name}}</h3>
            {{#if images.length}}
            <img src="{{images.[0].url}}" alt="{{name}} Image=" width="200" height="200" >
            {{else}}
            <p>Sorry, no image available</p>
            {{/if}}
            <a href="/artist-albums?artistId={{id}}">View Albums</a>
        </li>
        {{/each}}
    </ul>
    
</body>
</html>