<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <h2 id="searchresult">Search results for {{ artistName }}</h2>

    <ul>
        {{#each artists}}
        <li>
            <h3>{{ this.name }}</h3>
            {{#if this.images.[0]}}
            <img src="{{ this.images.[0].url }}" alt="{{ this.name }} Image" width="200" height="200" >
            {{else}}
            <p>Sorry, no image available</p>
            {{/if}}
            <a href="/albums/{{ this.id }}?artistName={{this.name}}">View Albums</a>
        </li>
        {{/each}}
    </ul>
    
</body>
</html>

